@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        /* Gradiente de fundo com imagem de borboletas sobreposta */
        background: url('https://th.bing.com/th/id/R.bfc28f8c5285e3a7072be25598d1fd90?rik=dNazfG7PT1yaEg&riu=http%3a%2f%2frecueil-de-png.r.e.pic.centerblog.net%2fo%2f676ec7f2.png&ehk=6kG2uHO2d6UnXY%2bCUbuQbKoRkz5TreBh819cNKPvu4I%3d&risl=&pid=ImgRaw&r=0') repeat, linear-gradient(to bottom, #000000, #800080);
        background-blend-mode: overlay;
        background-size: 150px, cover;
        color: white;
        min-height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
    }

    a {
        color: #dda0dd; /* Lilás claro para links */
    }

    .text-center {
        padding-top: 100px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
